/* @media screen and (max-width:600px){
  .col-6 {
    flex: 0 0 auto;
    width: 90%;
  }

  .container {
    width: 89%;
    padding: 20px 20px;
  }

  .wrapper .logo a {
    position: relative;
    color: #f2f2f2;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
  }

  .item-list {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    position: absolute;
    left: 10%;

  }

  .nav-links li a {
    font-weight: 600;
  }

  .card {
    width: 180px;
    padding-bottom: 5px;
  }

  .card_body {
    height: 100px;
  }

  .card_text,
  .card_link,
  .nav-links li a {
    font-size: 10px;
  }

  .card_title {
    font-size: 20px;
    position: relative;
  }

  .nav-links li a {
    font-weight: 300;
    padding: 1px 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .cont_text_ingredients {
    position: static;
    height: 100px;
  }


}

@media screen and  (min-width: 768px){
  .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }

  .container {
    width: 90%;
    padding: 15px 30px 10px 40px;
  }

  .wrapper .logo a {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }

  .item-list {
    margin-left: 4px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin: 17px;
  }

  .card-title {
    font-size: small;
  }

  .card_text,
  .card_link,
  .nav-links li a {
    font-size: 11px;
  }

  .card_body {
    max-height: 90px;
  }

  .nav-links li a {
    font-weight: 300;
    padding: 1px 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
}


@media (min-width: 992px) {
  .row-cols-lg-5>* {
    flex: 0 0 auto;
    width: 40%;
  }
} */

/* @media screen and(min-width:427px) {
  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* @media screen and (min-width:2560px) {

  .item-list {
    top: 90%;
    left: 50%;
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  .item {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
  }

  .card {
    width: 800px;
    border-radius: 25PX;
    height: 640px;
    background-color: rgb(247, 240, 240);
  }

}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #3A3B3C;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
} */